<!DOCTYPE html>
<html>
    <head>
        <title>Duel - Hio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="shortcut icon" href="/imgs/icon.ico" type="image/x-icon">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui inverted labeled icon menu">
            <a href="/" class="item">
                <i class="home icon"></i>
                Home
            </a>
            <a href="/duelists" class="item">
                <i class="user icon"></i>
                Duelists
            </a>
            <a href="/spells" class="item">
                <i class="magic icon"></i>
                Spells
            </a>
            <div class="right menu">
                <a class="item">
                    <i class="user circle icon"></i>
                    Login
                </a>
                <a class="item">
                    <i class="user plus icon"></i>
                    Register
                </a>
            </div>
        </div>
        <div class="ui main text container">
        <!-- Site Content Below-->

