<% include partials/header %>


<h1>Home Page</h1>

<h1>Under Construction</h1>
<ul>
    <li>Add Login/Register for authorization and security</li>
    <li>Add 'Start a Match' to home page to begin a duel</li>
    <li>Add edit details for duelists, including delete button</li>
    <li>refactor delete routes to confirm before deletion</li>
    <li>Add levels of access for players to view duels in progress</li>
    <li>Find/create a favicon for the site</li>
    <li>refactor spells table/list once final spell list is reviewed</li>
</ul>
<% include partials/footer %>