<% include partials/header %>

<form action="/spells" method="POST">
    <input type="text" name="name" placeholder="Spell Name">
    <input type="number" name="damage" placeholder="0">
    <input type="Submit" value="submit">
</form>

<% include partials/footer %>